@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	overflow-y: hidden;
}

.Toastify__toast-body {
	color: #000000;
	text-align: center;
}

.Toastify__toast.Toastify__toast-theme--dark.Toastify__toast--default.Toastify__toast--close-on-click {
	background-color: #ffffff !important;
}

.Toastify__progress-bar-theme--dark {
	background-color: #3a84f5 !important;
}

.Toastify__toast-icon.Toastify--animate-icon.Toastify__zoom-enter {
	color: #000000;
}

.Toastify {
	font-size: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.dflex-none {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #3a84f5;
	border-radius: 0.5rem;
}

::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-track {
	background: #1b1b2f;
}
